@charset "UTF-8";
/*сброс стилей*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #3F3A51;
}

body,
p,
h1,
h2,
h3,
ul {
  margin: 0;
}

body {
  font-size: 16px;
  font-family: "Rubik", "sans-serif";
  line-height: 1.5;
  color: #3F3A51;
}

h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0px;
  text-align: left;
}

h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0px;
  text-align: left;
}
@media screen and (max-width: 425px) {
  h2 {
    font-size: 27px;
  }
}

h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
@media screen and (max-width: 425px) {
  h3 {
    font-size: 27px;
  }
}

h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}

ul {
  list-style: none;
  padding: 0;
}

.promo__content-button-lesson {
  width: 180px;
  height: 50px;
  border: none;
  background-color: #4047E2;
  border-radius: 10px;
  color: #fff;
}

.distance__text-button {
  width: 180px;
  height: 50px;
  border: none;
  background-color: #4047E2;
  border-radius: 10px;
  color: #fff;
}

.promo__content-button-demo {
  width: 225px;
  height: 50px;
  border: 1px solid #4047E2;
  background-color: #fff;
  border-radius: 10px;
  color: #4047E2;
}

/* сброс стилей завершен */
/* стили для навигации */
body.hidden, html.hidden {
  height: 100%;
  overflow: hidden;
}

.cover.open {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: background-color 0.2s;
}

.navigation .navigation__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation .navigation__wrap.open {
  overflow: visible;
}
.navigation .navigation__wrap .navigation__menu {
  z-index: 10;
  transition: transform 0.2s;
  background-color: #fff;
}
.navigation .navigation__wrap .navigation__menu.open {
  transform: translateX(-95%);
  position: block;
  height: 100vh;
}
.navigation .navigation__wrap .navigation__menu-button {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: none;
  outline: none;
  display: none;
  z-index: 20;
}
.navigation .navigation__wrap .navigation__menu-button span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #4047E2;
  left: 5px;
  border-radius: 1px;
  transition: transform 0.5s, opacity 0.5s;
}
.navigation .navigation__wrap .navigation__menu-button span:nth-child(1) {
  transform: translateY(-10px);
}
.navigation .navigation__wrap .navigation__menu-button span:nth-child(3) {
  transform: translateY(10px);
}
.navigation .navigation__wrap .navigation__menu-button.open span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}
.navigation .navigation__wrap .navigation__menu-button.open span:nth-child(2) {
  opacity: 0;
}
.navigation .navigation__wrap .navigation__menu-button.open span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}
.navigation .navigation__wrap .navigation__menu-list {
  height: 40px;
  width: 40px;
  background-color: aqua;
}
.navigation .navigation__wrap .navigation__list {
  display: flex;
  grid-gap: 51px;
}
.navigation .navigation__wrap .navigation__list a {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
}
.navigation .navigation__wrap .navigation__list .navigation__list-link:hover {
  text-decoration: underline;
}
.navigation .navigation__wrap .navigation__refs {
  display: none;
  color: #8F99AC;
}

@media screen and (max-width: 768px) {
  .navigation .navigation__wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  .navigation .navigation__wrap .navigation__menu-button {
    display: block;
  }
  .navigation .navigation__wrap .navigation__menu {
    position: fixed;
    right: 0;
    top: 0;
    background-color: #fff;
    width: 400px;
    height: 100%;
    text-align: right;
    z-index: 10;
    right: -400px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 100px 20px 20px;
  }
  .navigation .navigation__wrap .navigation__menu .navigation__list {
    display: block;
  }
  .navigation .navigation__wrap .navigation__menu .navigation__list li {
    display: block;
    padding: 20px;
  }
  .navigation .navigation__wrap .navigation__menu .navigation__list li a {
    font-size: 30px;
  }
  .navigation .navigation__wrap .navigation__menu .navigation__refs {
    display: block;
  }
}
/* конец стилей для навигации */
/* стили для главного блока */
.promo {
  margin-bottom: 80px;
}
.promo .promo__content .promo__content-text {
  margin: auto;
}
.promo .promo__content .promo__content-text p {
  color: #8F99AC;
  margin-bottom: 19px;
  font-size: 18px;
}
@media screen and (max-width: 576px) {
  .promo .promo__content .promo__content-text p {
    font-size: 16px;
  }
}
.promo .promo__content .promo__content-text h2 {
  margin-bottom: 16px;
}
@media screen and (max-width: 576px) {
  .promo .promo__content .promo__content-text h2 {
    line-height: 32px;
  }
}
.promo .promo__content .promo__content-text .promo__content-button {
  display: flex;
}
@media screen and (max-width: 576px) {
  .promo .promo__content .promo__content-text .promo__content-button {
    flex-direction: column;
  }
}
.promo .promo__content .promo__content-text .promo__content-button button {
  margin: 0 7px 7px 0;
}
@media screen and (max-width: 576px) {
  .promo .promo__content .promo__content-text .promo__content-button button {
    width: 100%;
  }
}
.promo .promo__content .promo__content-text .promo__content-button .promo__content-button-demo img {
  padding-right: 10px;
}
.promo .promo__content .promo__content-text .promo__content-button .promo__content-button-demo:hover {
  box-shadow: 0 0 10px 0 #9283FF;
}
.promo .promo__content .promo__content-text .promo__content-button .promo__content-button-lesson:hover {
  box-shadow: 0 0 10px 0 #9283FF;
}
.promo .promo__content .promo__content-cover {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}
@media screen and (max-width: 992px) {
  .promo .promo__content .promo__content-cover {
    margin-top: 30px;
    justify-content: left;
  }
}
.promo .promo__content .promo__content-cover .promo__content-cover-mobile {
  box-shadow: 0px 10px 50px 0px rgba(64, 71, 226, 0.2);
}
@media screen and (max-width: 576px) {
  .promo .promo__content .promo__content-cover .promo__content-cover-desktop {
    display: none;
  }
}
@media screen and (min-width: 577px) {
  .promo .promo__content .promo__content-cover .promo__content-cover-mobile {
    display: none;
  }
}
.promo .promo__content .promo__content-cover img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

/* конец стилей для главного блока */
/* стили для классов */
.class {
  background-color: #dfe1ff;
  padding-bottom: 86px;
}
@media screen and (max-width: 576px) {
  .class {
    background-color: #fff;
  }
}
@media screen and (min-width: 576px) {
  .class {
    padding-top: 73px;
  }
}
.class .class__content {
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
}
.class .class__content h2 {
  font-size: 31.5px;
}
@media screen and (max-width: 576px) {
  .class .class__content h2 {
    margin-bottom: 0px;
    font-size: 27px;
    line-height: 32px;
  }
}
.class .class__content p {
  font-size: 18px;
}
@media screen and (max-width: 576px) {
  .class .class__content p {
    font-size: 16px;
  }
}
.class .class__content .class__content-card {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}
@media screen and (max-width: 576px) {
  .class .class__content .class__content-card {
    margin-top: 10px;
    box-shadow: 0px 10px 50px 0px rgba(64, 71, 226, 0.2);
  }
}
.class .class__content .class__content-card img {
  border-radius: 10px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

/* конец стилей для классов */
/* стили для истории */
.history {
  padding-top: 80px;
  padding-bottom: 80px;
}
.history__text h3 {
  margin-bottom: 30px;
}
.history__text p {
  font-size: 18px;
}
@media screen and (max-width: 576px) {
  .history__text p {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .history__text {
    margin-bottom: 30px;
  }
}
.history__card img {
  max-width: 100%;
  box-shadow: 0px 10px 50px 0px rgba(64, 71, 226, 0.2);
  border-radius: 10px;
}

/* конец стилей для истории */
/* стили для возможностей */
.opportunities {
  margin-bottom: 67px;
}
.opportunities .opportunities__header {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}
.opportunities .opportunities__card {
  width: 285px;
  height: 320px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.opportunities .opportunities__card h4 {
  text-align: center;
  margin-bottom: 18px;
}
.opportunities .opportunities__card p {
  font-size: 18px;
}
.opportunities .opportunities__card img {
  margin-top: 48px;
  height: 90px;
  margin-bottom: 26px;
}
.opportunities .opportunities__card-blue {
  background-color: #DFE1FF;
  box-shadow: 0px 10px 50px 0px rgba(64, 71, 226, 0.2);
}
.opportunities .opportunities__card-orange {
  background-color: #FFE1AD;
  box-shadow: 0px 10px 50px 0px rgba(252, 162, 6, 0.2);
}
.opportunities .opportunities__swiper-slide {
  display: flex;
  justify-content: center;
  margin-bottom: 38px;
  width: auto;
}

/* конец стилей для возможностей */
/* стили для работы */
.work {
  margin-bottom: 80px;
}
.work .work__header {
  display: flex;
  justify-content: center;
  margin-bottom: 54px;
}
.work .work__part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.work .work__part img {
  margin-bottom: 24px;
}
.work .work__part h4 {
  margin-bottom: 24px;
}
.work .work__part p {
  font-size: 18px;
}
@media screen and (max-width: 576px) {
  .work .work__part p {
    font-size: 16px;
  }
}
@media screen and (max-width: 992px) {
  .work p {
    margin-bottom: 50px;
  }
  .work .work__header {
    margin-bottom: 25px;
  }
}

/* конец стилей для работы */
/* стили для дистанта */
.distance {
  background-color: #DFE1FF;
  padding-top: 73px;
  padding-bottom: 72px;
}
.distance__text h3 {
  margin-bottom: 14px;
}
.distance__text p {
  margin-bottom: 20px;
}
@media screen and (max-width: 576px) {
  .distance__text p {
    color: #8F99AC;
  }
}
.distance__text button:hover {
  box-shadow: 0 0 10px 0 #9283FF;
}
@media screen and (max-width: 576px) {
  .distance__text button {
    width: 100%;
  }
}
.distance .distance__card {
  background-color: #fff;
  border-radius: 35px;
  padding: 30px 50px 30px 30px;
}
.distance .distance__card p {
  margin-bottom: 18px;
  font-size: 20px;
  font-weight: 400;
}
.distance .distance__card .distance__card-profile {
  display: flex;
}
.distance .distance__card .distance__card-profile p {
  font-size: 16px;
}
.distance .distance__card .distance__card-profile p span {
  color: #8F99AC;
}
.distance .distance__card-profile-face {
  width: 65px;
  height: 65px;
  -webkit-clip-path: circle(50% at center);
          clip-path: circle(50% at center);
  border-radius: 100px;
  margin-right: 16px;
}
@media screen and (max-width: 992px) {
  .distance .distance__text {
    margin-bottom: 40px;
  }
  .distance .distance__card p:first-child {
    font-size: 16px;
  }
}

/* конец стилей для дистанта */
/* стили для футера */
footer {
  padding-top: 65px;
  color: #8F99AC;
}
@media screen and (max-width: 576px) {
  footer {
    padding-top: 60px;
  }
}
footer .footer__line {
  height: 1px;
  width: 100%;
  background-color: #EAEAEA;
}
footer .footer__group {
  margin-top: 33px;
  margin-bottom: 33px;
}
footer .footer__fond-logo {
  height: 71px;
}
footer li {
  color: #8F99AC;
}
footer img {
  height: 53px;
}
footer .footer__element {
  display: flex;
}
footer .just-right {
  justify-content: right;
  text-align: right;
}
@media screen and (max-width: 576px) {
  footer .footer__element {
    justify-content: center;
    text-align: center;
    margin: 10px;
  }
}

/* конец стилей для футера *//*# sourceMappingURL=style.css.map */